
#target/
#dbt_packages/
#logs/

.DS_Store

# python / venv
venv/
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
dbt_modules/
logs/
*.log
manifest.json
run_results.json
sources.json

.user.yml
profiles.yml